<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ drupal_domain }}
    ServerAlias www.{{ drupal_domain }}
    DocumentRoot {{ drupal_core_path }}
    <Directory "{{ drupal_core_path }}">
        Options FollowSymLinks Indexes
        AllowOverride All
    </Directory>
</VirtualHost>
